* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: 0 px;
}

body {
    background-color: rgba(128, 128, 128, 0.3);
}

.heading {
    font-size: 2rem;
    text-align: center;
}

.image {
    padding: 10px;
    border-radius: 12px;
    width: max-content;
    height: auto;
    text-align: left;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    float: left;
}

.profile-text {
    margin-left: 250px;
    padding-top: 75px;
    padding-left: 20px;
    height: 200px;
    font-size: 2.5rem;
    text-transform: capitalize;
}

img {
    border: 1.5px solid grey;
    border-radius: 50%;
}

p {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.nolink {
    text-align: center;
    color: gray;
    font-size: 3rem;
}

.nolink::before {
    content: "HELLO";
}

.yellow-square {
    background-color: #FFDC00;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.users {
    margin: 0 35%;
}